# üéüÔ∏è Proyecto de An√°lisis de Marketing y Comportamiento de Usuarios en Showz
üìä Resumen del proyecto
Este an√°lisis de datos se centra en el comportamiento de los usuarios y el rendimiento del marketing de Showz, una plataforma de venta de entradas para eventos. El objetivo es ofrecer recomendaciones pr√°cticas para optimizar el presupuesto de marketing y mejorar las estrategias de adquisici√≥n de clientes.

üß© El proyecto incluye:

üß† An√°lisis del comportamiento del usuario:
Frecuencia de uso, duraci√≥n de sesiones y patrones de regreso al sitio.

üí∏ An√°lisis de ventas e ingresos:
Tiempos de conversi√≥n, tama√±o promedio de compra y valor de vida del cliente (LTV).

üìà Evaluaci√≥n del rendimiento de marketing:
C√°lculo de costos totales, CAC (costo de adquisici√≥n) por canal y ROMI.

üß™ An√°lisis de cohortes:
Comparaci√≥n del rendimiento por fuente de tr√°fico y tipo de dispositivo.

üìä Visualizaciones:
Gr√°ficos que muestran tendencias de visitas, compras y efectividad de campa√±as.

üßæ Herramientas utilizadas:
Python, pandas, matplotlib, seaborn, Jupyter Notebook

üìçObjetivo:
Brindar recomendaciones estrat√©gicas basadas en datos sobre d√≥nde invertir, cu√°nto y por qu√©, para maximizar los resultados del marketing.

## Paso 1: Carga y procesamiento de datos.

In [4]:
#Primero cargamos las librer√≠as necesarias para el proyecto.
import pandas as pd #Pandas para la manipulaci√≥n de datos
import numpy as np 
import scipy.stats as st #Numpy y Scipy para operaciones matem√°ticas y estad√≠sticas.
import matplotlib.pyplot as plt
import seaborn as sns #Matplotlib y seaborn para visualizaciones.

In [ ]:
#Vamos a cargar los datos a continuaci√≥n.
visits_df = pd.read_csv('../Data/visits_log_us.csv')
orders_df = pd.read_csv('../Data/orders_log_us.csv')
costs_df = pd.read_csv('../Data/costs_us.csv')

In [6]:
#Ahora vamos a mostrar informaci√≥n general de los 3 datasets.
visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  object
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  object
 4   Uid        359400 non-null  uint64
dtypes: int64(1), object(3), uint64(1)
memory usage: 13.7+ MB

In [7]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  object
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: float64(1), object(1), uint64(1)
memory usage: 1.2+ MB

In [8]:
costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   object
 2   costs      2542 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 59.7+ KB

In [9]:
visits_df.head()

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168